{{ 'shopby.css' | asset_url | stylesheet_tag }}

<script>
  {% comment %} document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.shopby_buttons a');

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        buttons.forEach((btn) => btn.classList.remove('shopby_active_button'));
        button.classList.add('shopby_active_button');

        displayProducts(button.textContent.trim());
      });
    });
  }); {% endcomment %}

  document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.shopby_buttons li');

    buttons.forEach((button) => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        buttons.forEach((btn) => btn.classList.remove('active_product_button'));
        button.classList.add('active_product_button');
      });
    });
  });
</script>

<section class="shopbybrand">
  <div class="shopbybrand_container">
    <h2>Shop By</h2>
    <div class="shopby_buttons">
      {% for block in section.blocks %}
        <li class="shopby_button {% if forloop.first %}active_product_button{% endif %}">
          <a href="{{ block.settings.url }}"> {{ block.settings.button_text }} </a>
        </li>
      {% endfor %}
    </div>
  </div>
  <div class="shopByProductsContainer">
    
  </div>
</section>

{% schema %}
{
  "name": "Shop By Brand",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop By Brand"
    }
  ]
}
{% endschema %}
